/*=================Ejercicio 2 CSS=====================*/
/* Colores del ejercicio (por orden): teal, red, blue, orange, purple, olive, fuchsia y green */
.ejercicio2 h2 {
    color: teal;
    font-size: xx-large;
}

.ejercicio2 strong {
    color: red;
}

.ejercicio2 h3 {
    color: blue;
}

.ejercicio2 span.destacado {
    color: orange;
}

.ejercicio2 p a {
    color: red;
}

.ejercicio2 p em {
    color: blue;
}

.ejercicio2 span.especial {
    color: purple;
}

#adicional {
    color: olive;
}

#especial {
    color: fuchsia;
}

#adicional p a {
    color: green;
}

/* inicio tabla ejercicio 2 */
.ejercicio2 table {
    color: green;
}

.ejercicio2 th,
.ejercicio2 td {
    border: 1px solid black;
}

.ejercicio2 table caption {
    color: blue;
}

.ejercicio2 table tfoot {
    color: red;
}

.ejercicio2 table thead {
    color: red;
}

.ejercicio2 .especial {
    color: orange;
}

.ejercicio2 table tbody tr strong {
    color: orange;
}

.ejercicio2 table tbody tr th {
    color: red;
}
/* fin tabla ejercicio 2*/
/*=================Ejercicio 2 CSS=====================*/