@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* El asterisco es el selector universal*/
* {

    margin: 0;
    /* margin siempre es transparente y siempre está por fuera del elemento */
    padding: 0;
}

* {
    color: red;
}

/* Esto anula y sustituye a lo anterior */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: 'Catamaran', sans-serif;
    font-size: large;
}

p,
em,
strong,
li,
a {
    color: dimgray;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

a {
    font-weight: bold;
    color: steelblue;
}

em {
    font-style: italic;
}

.todomayusculas {
    font-variant: small-caps;
}

.pepe {
    color: green;
}

.alineadoderecha {
    text-align: right;
}

.alineadocentro {
    text-align: center;
}

.alineadojustificado {
    text-align: justify;
}
/* ==========================================================================================*/
/* Las prioridades de CSS son las siguientes (por defecto es descentiente salvo las 4 siguientes [que entre ellas existe la siguiente jerarquía en orden descendiente]) */

/* En primer lugar va el selector de ID */
#violeta {
    color: violet;
}
/* En segundo lugar van las clases anidadas */
article ol li {
    color: blue;
}
/* En tercer lugar van */
li {
    color: tomato;
}
/* En último lugar irá */
.rosa {
    color: pink;
}
/* ===========================================================================================*/
header h1 {
    /* height es el alto, width es el ancho y padding es relleno (una caja interior que separa el contenido del borde) */
    width: 100%;
    height: 50px;
    background-color: gray;
    padding: 8px;
}

nav {
    border: 1px solid red;
}

nav h2 {
    display: none;
}

article {
    width: 40%;
    border: 1px solid black;
    /* multiplicar el margin por dos puesto que se aplica a ambos márgenes*/
    margin: 3%;
    /* otras maneras de aplicar margin a las 4 paredes: */
    /* margin: 3% 3% 3% 3%; */
    /* margin: 3% 3%; (arriba y abajo + izq y derecha)*/
    /* margin-top: 3%
            margin-right: 3%; 
            margin-bottom: 3%;
            margin-left: 3%; */
    padding: 10px;
}

article article p {
    background-color: lime;
}

article,
article p,
article h2 {
    background-color: white;
}

/* en cuanto a "section article article" la separación con espacios hace que sólo se modifice el elemento del final (article en este caso) los demás indican el orden de jerarquía. En este caso se modifican los articles que sean herederos de otro article, herederos de una section */
section article article {
    width: 94%;
}

section article {
    /* ponemos el width de manera que sume el 100% junto al (margin x2) se puede comprobar en el inspector del chrome*/
    width: 94%;
}

footer h2 {
    /* Cuando escribes "height" y "line-height" con el mismo valor te centra el texto*/
    line-height: 80px;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}